
html{
  font-size: 10px;
}

/*start header*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
text-decoration: none;

}
.icon_open_option{
  scale: 0;
  position: relative;
}
.tige_center_a{
   position: absolute;
   transform: rotate(45deg);
   top: 1.5rem;
   right: 0.6rem;
   scale: 1.6;
}
.tige_center_b{
  position: absolute;
  transform: rotate(135deg);
  top: 1.5rem;
  right: 0.6rem;
  scale: 1.6;
}
.tige_center_c{
  position: absolute;
  top: 1.5rem;
  right: 0.6rem;
  scale: 1.2;
  display: none;
}
.header{
  padding-left: 10rem;
  padding-right: 10rem;
  width: 100%;
  font-family: Poppins;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.navbar_logo_and_options{
  padding-top: 1.4rem;
  display: flex;
  left: 1rem;
  align-items:center;
  justify-content:space-between;
}

.navbar_icon{
  background-color: #094B72;
  border-radius: 100%;
  padding-block: 0.8rem;
  padding-inline: 2rem;
  font-size: 3rem;
  color: aliceblue;
  text-shadow: 0.12rem 0.13rem #000000;
  font-weight: bolder;
}
.navbar_title{ 
font-size: 3rem ;
}
.nabar_options{
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none; 
}

.option a{
  color: var(--neutral-grey-6, #4F4F4F);
}
.option {
  font-size: 1.5rem;
  align-items: center;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  color: var(--neutral-grey-6, #4F4F4F);
  font-weight: bolder;
}
.active{
  font-size: 1.5rem;
  align-items: center;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  color: #094060;
  font-weight: bolder;
  text-decoration: underline solid 2px;
}
 

.option_icon{
  padding-left: 7rem;
  width: auto;
}
.delete_padding_icon_search{
  padding-left: 0;
}
.search_input{
  
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  width: 0;
  
 }
 .open_search{
  padding-top:0.9rem;
  padding-bottom: 1.2rem;
  padding-inline: 0.5rem;
  font-family: sans-serif;
  font-size: 1.6rem;
  border-color: #ffffff;
  border-radius: 0.5rem 0.5rem;
  box-shadow: 0 0.5rem 1.1rem  #93939336;
  color: #000000;
  height: 2.5rem;
  margin-left: 1.4rem;
  width: 20rem;
  transition: 0.5s ease-in-out;
 }
 .search_li{
  align-self: center;
}
/*end header*/

/*start section1 home page*/
.containers{
  padding-left: 5rem;
}
.container{
  padding-left: 20rem;
  padding-top: 4rem;
  padding-left: 4rem;
  display: flex;
  justify-content: center;
}
/* ----------------- */
/* .container1{
  display:flexbox;
} */
.container1_title{
  padding-top: 2rem;
  color: #125f8d;
  font-size: 4.5rem;
  width: 50rem;
  font-family: Playfair Display;
}
.container_paragraph{
width: 38%;
font-size: 2rem;
color: #4a4a4a;
padding-bottom: 2rem;
font-family:Plus Jakarta Sans ;
}
.button1{ 
  background-color: #094B72;
  padding-block: 1.3rem;
  padding-inline: 2.2rem;
  border-radius: 0.7rem 0.7rem;
  color: aliceblue;
  margin-bottom: 6rem;
  font-family: Plus Jakarta Sans;
  font-weight:bold;
}
.button1:hover{
background-color: transparent;
color: #094B72;
}
.button1:hover svg {
filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(165deg) brightness(60%) contrast(119%);
}


.trusted_companies{
font-size: 1.5rem;
color: #303131;
font-family:Plus Jakarta Sans ;
}
.company_icons{
padding-block: 1rem;
width:28rem ; 
height: 11.4rem;
}
/* ----------------------- */
.container2{
position: relative;
height: 75rem;
padding-left: 20rem;
width: 30rem;
}
.cercle_big{
  position: absolute;
  background-color: #307aa41d;
  width: 50rem;
  height: 50rem;
  border-radius: 100%;
  top: 2rem;
  right: 2rem;
}
.cercle_small{
  position: absolute;
  background-color: #3f8dba3d;
  width: 40rem;
  height: 6.94rem;
  height: 40rem;
  border-radius: 100%;
  right: 7rem;
  top: 2rem;
}
.image_home_man{
  position: absolute;
  width: 45rem;
  top: 7rem;
  right: 4rem;
}
.fullname_man{
  position: absolute;
  background-color: #ffffff;
  width: 30rem;
  padding-block: 2rem;
  padding-inline: 1rem;
  border-radius: 0.7rem 0.7rem;
  font-size: 1.5rem;
  box-shadow: 0 0.5rem 1.1rem  #93939336;
  top: 71rem;
  right: 14rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  font-family: Plus Jakarta Sans;
}
 
/*end section 1  home page*/

/*start section 2 service*/
.home_service{
  background-color:#F2F7FF;
  padding-bottom: 10rem;
  padding-top: 6rem;
}
.container_section2_home_service{
   display: flex;
   justify-content: space-around;
}
.section2_home_service_title{
font-size: 3rem;
padding-left: 18rem;
padding-top:2rem;
padding-right: 2rem;
padding-bottom: 4rem;
width: 55rem;
}
.section2_home_service_paragraph{
  width: 47rem;
  padding-left: 18rem;
  font-size: 1.7rem;
  color: var(--neutral-grey-5, #2b2b2b);
  font-family: Poppins;
  font-weight: bold;
}
.all_block_service{
  display: flex;
  flex-wrap: wrap;
  padding-right: 25rem;
  gap: 2rem;
  padding-top: 3rem;
}
.service_block{
  display: flex;
  flex-direction: column;
  align-content: start;
  background-color: #FCFCFC;
  width: 22rem;
  height: 18rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 20rem;
  box-shadow: 0 0.5rem 1.5rem rgba(37, 37, 37, 0.329);
  border-radius: 0.7rem 0.7rem;
 
}
.service_block_icon{ 
}
.service_block_title{
  font-size: 1.1rem;
  width: 16rem;
padding-top: 0.5rem;
}
.service_block_paragraph{
  font-size: 1.15rem;
  /* padding-top: 1rem; */
  width: 13rem;
  color: #141313;
  font-family: Plus Jakarta Sans;
  padding-top: 0.7rem;
  font-weight: 560;
}
/* end service*/

/* start section3 statistique */
.container_statistique_section3{
  background-image: url("../images/back_ground_section3.svg");
  padding-bottom: 5rem;
}
.title_section3{
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  color: white;
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-family: Playfair Display;
}
.paragraph_section3{
  text-align: center;
  color: #F2F7FF;
  font-size: 2rem;
  padding-bottom: 6rem;
  font-family: Poppins;
}
.all_statistique{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Poppins;
  font-weight: bolder;
}
.box_size_with_border{
   width: 30rem;
   border-right: 1px solid #f2f7ff8e;
   height: 9rem;
}
.box_size{
  width: 30rem;
  height: 9rem;
}
.box_content{
  text-align: center;
   
}
.box_content_title{
  font-size: 6rem;
  color: white;
  font-weight: bolder;
}
.box_content_paragraph{
    font-size: 1.8rem;
    color: white;
}
/* end section3 statistique*/

/*start section4 Testimonial */

.Testimonial_container{
  background-color:#F2F7FF;
  padding-bottom: 5rem;
}
.title_Testimonial{
  padding-top: 6rem;
  text-align: center;
  font-size: 6rem;
  padding-bottom: 4rem;
}
.Testimonial_container_blocks{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  
}
.Testimonial_sou_block{
  height: 25rem;
}
 
.Testimonial_block_comment{
  font-family: Poppins;
  position: relative;
  width: 48rem;
  min-height: 18rem;
  text-align: center;
  padding-block: 1rem;
  padding-inline: 2rem;
  background-color: white;
  border-radius: 1rem 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Testimonial_block_comment::after{
  content: " ";
  display: inline-block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color:  rgb(255, 255, 255);
  bottom: -0.9rem;
  border-radius: 0.2rem 0.2rem;
  transform: rotate(45deg);
}
.Testimonial_block_comment_title{
  font-size: 2rem;
  padding: 1.4rem;
  color: #000000;
  font-weight: bolder;
}
.Testimonial_block_comment_paragragh{
  font-size: 1.5rem;
  color: #2a2a2a;
  font-weight: 600;
}
.client_img_size{
  width: 5.2rem;
  height: 5.2rem;
}
.Testimonial_container_blocks_nom_client{
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem; 
  align-items: center;
}
.Testimonial_container_blocks_work_client{
  color:#494949;
}
/* end section4 Testimonial */

/*  start section 5 contact home  */
.home_contact{
  padding-top: 6rem;
  padding-left: 22rem;
}
.home_contact_tatil{
  font-size: 4.8rem;
  font-family: Playfair Display;
}
.home_contact_paragraph{
  color:#393939 ;
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 50rem;
  font-family: Poppins;
}
.button_contact_home{
  display: flex;
  justify-content: space-between;
  width: 15rem;
  align-items: center;
  font-size: 1.8rem;
  font-family: Poppins;
}

/* end section 5 contact home */
/* start footer */
.footer_container{
 background-color: #094B72;
 display: flex;
 justify-content: space-between;
 padding-bottom: 5rem;
}
.footer_logo{
  padding: 15rem;
  width: 50vw;
 display:flex;
 align-items: center;
}
.nom_de_site_web a{
  color: rgb(255, 255, 255);
}
.logo_icon a{
  color: #094B72;
}
.logo_icon{
    color: #094B72;
    padding-block: 1.5rem;
    padding-inline:2.8rem;
    border-radius: 100%;
    background-color: white;
    font-size: 3rem;
}
.nom_de_site_web{
    color: #F2F7FF;
    padding-left: 0.5rem;
    font-size: 3.5rem;
}
.les_info{
  padding-top: 10rem;
  padding-right: 10rem;
  width: 50vw;
  display: flex;
  justify-content: space-between;
}
.information{
  color: #EEEFF4;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.les_info p{
  padding-block: 1rem;
  font-size: 1.4rem;
  color: #EEEFF4;
  font-weight: 100;
}
.end_footer{
  background-color: #004D7B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 5rem;
}
.copyright{
  color:#EEEFF4 ;
  display: flex;
  align-items: center;
}
.Social_media_icon{
margin-inline: 1rem;
}
/* end footer */

/* start contact page */
.container_contact_page{
  padding-inline: 22rem;
  padding-top: 3rem;
  
 }
 .container_contact_page h2{
   font-size: 6rem;  
   background-color: #1f97dc76;
   border-bottom-right-radius: 100%;
   border-top-left-radius: 100%;
   width: 50rem;
 }
 
 .contact_flex_map{
  display: flex;
   justify-content: space-around;
 }
 .info_client{
   display: flex;
   flex-direction: column;
   align-content: space-around;
   font-size: 2rem;
   gap: 2rem;
   padding-block: 1rem;
   width: 50rem;
 }
 
 .input_style{
  padding-block: 0.6rem;
  border-radius: 0.6rem 0.6rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #f7f7f7;
  border-color: gainsboro;
  padding-left: 0.2rem;
  }
  .input_style_select{
    width: 10rem;
    border-radius: 0.6rem 0.6rem;
    padding-block: 0.5rem;
    background: #094B72;
    border-color: gainsboro;
    color: #F2F7FF;
  }
  .flex_select{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 6rem;
  }
  .label_select_contact{
    box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; ;
    padding-block: 0.62rem;
    padding-left: 1rem;
    border-bottom-left-radius: 0.6rem 0.6rem;
    border-top-left-radius:0.6rem 0.6rem;
    color: #4F4F4F;
  }
  .input_submit{
    font-size: 1.7rem;
    width: 10rem;
    text-align: center;
  }
  .google_map{
     
    border-radius: 0.6rem 0.6rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 47rem;
    width: 50rem;
  }
  .map_block{
    padding-left: 2rem;
    padding-top: 2rem;
  }
   
/* end contact page */

/* <!-- start about page --> */

.container_about_page{
 padding-top: 2rem;
display: flex;
justify-content: center
}
.container_about_page h1{
font-size: 5rem;
font-family: Playfair Display;
background-color: #1f97dc5e;
border-bottom-right-radius: 100%;
border-top-left-radius: 100%;
}
.container_about_page p{
width: 40rem;
font-size: 2rem;
font-family: sans-serif;
}
.container_about_page div{
padding-top: 8rem;
}
.button_about{
  font-size: 1.8rem;
  margin-top: 2rem;
}
.image_contact_man{
  width: 50rem;
  height: 54rem;
}

/* <!-- end about page --> */

 

.container_about_page{
  display: flex;
   
  justify-content: center
   
}
.container_about_page h1{
  
  font-size: 5rem;
  font-family: Playfair Display;
  background-color: #1f97dc5e;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
}
.container_about_page p{
  width: 40rem;
  font-size: 2rem;
  font-family: sans-serif;
}
.container_about_page div{
  padding-top: 8rem;
}


  /* <!-- end about page --> */

  /* start service page */
  .service_page_container{
   padding-bottom: 4rem;
  }
  .service_title{
   text-align: center;
   padding-block: 1rem;
   font-size: 3rem;
  }
  .service_paragraph{
   text-align: center;
   padding-block: 2rem;
   font-size: 2rem;
  }
  .services_block{
    justify-content: center;
    padding-left: 25rem;
  }
  /* end service page */


  @media  (max-width: 1440px) {
    html{
      font-size: 9.5px;
    }
  }
  @media  (max-width: 1370px) {
    html{
      font-size: 9px;
    }
  }
  @media  (max-width: 1360px) {
    html{
      font-size: 8px;
    }
  }
  @media (max-width: 1152px) {
    html{
      font-size: 7px;
    }
  }
  /* --------------------------------------- */
  @media  (max-width: 1023px) {
    html{
      font-size: 7px;
    }
    .header{
     padding-block: 1rem;
     padding-inline: 3rem;
    }
    
    .tige_center_a{
      transition: 0.5s ease-in-out;
       transform: rotate(0);
      top: 2.6rem;
     right: 0.6rem;
     scale: 1.2;
   }
   .tige_center_b{
    transition: 0.5s ease-in-out;
     transform: rotate(0);
     top: 0.5rem;
     right: 0.6rem;
     scale: 1.2;
   }
   .tige_center_c{
     top: 1.549rem;
     right: 0.6rem;
     scale: 1.2;
     display: block;
   }
   /* -------------animation  open menu----------------- */
   .icon_open_option{
    scale: 1;
    display: block;
    height: 3.8rem;
    width: 3.8rem;
    background-color: #094060;
    border-radius: 1rem 1rem;
  }
   .tige_a{
    transition: 0.5s ease-in-out;
    filter: invert(98%) sepia(79%) saturate(2476%) hue-rotate(0deg) brightness(118%) contrast(119%);
    transform: rotate(45deg);
    top: 1.5rem;
    right: 0.6rem;
    scale: 1.6;
 }
 .tige_b{
   transition: 0.5s ease-in-out;
   filter: invert(98%) sepia(79%) saturate(2476%) hue-rotate(0deg) brightness(118%) contrast(119%);
   transform: rotate(135deg);
   top: 1.5rem;
   right: 0.6rem;
   scale: 1.6;
 }
 .tige_c{
   transition: 0.5s ease-in-out;
   top: 1.5rem;
   right: 0.6rem;
   scale: 1.2;
   display: none;
 }


   /* ------------- end animation  open menu----------------- */
    
    .active{
      align-self: center;
      justify-self: center;
    }
    .option_icon {
      padding-left: 1.5rem;
  }
  .search_li{
    align-self: center;
    justify-self: center;
    scale: 1.2;
  }
  .open_search{
    margin-right: 5rem;
  }
  .nabar_options{
    transition: 0.5s ease-in-out;
    display: block;
    width: 0;
    overflow: hidden;
    position: absolute;
    border-radius: 100%;
    right: 5rem;
    top: 3rem;
 }
    .nabar_drop_down{
      border-radius: 0;
      overflow:scroll;
      transition: 0.5s ease-in-out;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-items: center;
      gap: 2.5rem;
      padding-block: 2rem;
      padding-inline: 2rem;
      top: 7.88rem;
      right: 0;
      background-color: #ffffff;
      border-bottom-left-radius: 1rem 1rem;
      border-bottom-right-radius: 1rem 1rem;
      box-shadow: 0 0.5rem 1.1rem  #93939336;
      width: 100%;
      min-height: auto;
    } 
    .option{
      align-self: center;
      justify-self: center;
    }
    
    .containers{
      padding-left: 0;
    }
    
    .container_section2_home_service {
      display: flex;
      flex-direction: column;
      align-content: space-between;
  }
  .container{
    padding: 0;
    justify-content: start;
    padding-left: 4rem;
  }
   /* services page */
  .section2_home_service_title {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .section2_home_service_paragraph {
      width: 100%;
      text-align: center;
      padding-left: 0;
  }
  .home_service{
    font-size: 10px;
    padding-inline: 5rem;
  }
  .all_block_service{
    justify-content: center;
    padding-right: 0;
    padding-inline: 1rem;
  }
  .home_contact{
    padding-left: 6rem;
  }
  .services_block{
    justify-content: center;
    padding-left: 0;
  }
  /* statique */
  .all_statistique{ 
    flex-direction:column;
    gap: 3rem;
    justify-items: center;
  }
   .box_size_with_border{
    align-self:center ;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.074);
     
   }
   .box_size{
    align-self: center;
   }
  /* end statique */
  .footer_container {
    background-color: #094B72;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    
}
.les_info {
  padding-top: 0rem;
  padding-right: 0rem;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  text-align: center;
  gap: 10rem;
}
.footer_logo{
    padding: 0;
    padding-top: 5rem;
    display: flex;
    align-self: center;
    justify-content: center;
}
/* contact page */
.home_contact{
  padding: 0;
  text-align: center;
  padding-bottom: 5rem;
}
.container_contact_page {
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: space-around;

}
.container_contact_page h2{
  align-self: center;
}
.contact_flex_map {
  display: flex;
  flex-direction: column;
  justify-items:center;
  padding-bottom: 5rem;
}
.info_client{
   align-self: center;
}
.map_block{
  padding: 0;
  align-self: center;
}
.home_contact_paragraph{
 margin: auto;
}
.button_contact_home{
  margin: auto;
}
/* end contact page */

}
/* ------------------------------------ */
@media  (max-width: 710px){
  html{
    font-size: 7.5px;
  }
  .container2{
    display: none;
  }
  .container1{
    width: 100%;
    padding-left: 2rem;
  }
  .container_paragraph{
    width: 100%;
  }
  .container1_title{
    width: auto;
    padding: 0;
  }
   /* about page */
.image_contact_man{display: none;}
/* end about page */
}

@media  (max-width: 510px){
  html{
    font-size: 7.5px;
  }
}
@media  (max-width: 410px){
  html{
    font-size: 7.8px;
  }
}
@media  (max-width: 410px){
  html{
    font-size: 5.5px;
  }
}
@media  (max-width: 270px){
  html{
    font-size: 4px;
  }
}
@media  (max-width: 170px){
  html{
    font-size: 3px;
  }
 
}
   